In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler

In [4]:
df = catalog.load('automobile')

[10/25/22 14:52:51] INFO     Loading data from 'automobile' (CSVDataSet)...                     ]8;id=816296;file:///Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=54647;file:///Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

In [5]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [9]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [15]:
ordinal_encoder = OrdinalEncoder()
features = [
            'normalized-losses',  'make', 'fuel-type', 'aspiration', 
            'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
            'engine-type' , 'num-of-cylinders', 'fuel-system', 'bore', 'stroke',
             'horsepower', 'peak-rpm', 'price'     
           ] 
df[features]= ordinal_encoder.fit_transform(df[features])                                                                                                  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    float64
 3   fuel-type          205 non-null    float64
 4   aspiration         205 non-null    float64
 5   num-of-doors       205 non-null    float64
 6   body-style         205 non-null    float64
 7   drive-wheels       205 non-null    float64
 8   engine-location    205 non-null    float64
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    float64
 15  num-of-cylinders   205 non-null    float64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    float64
 18  bore               205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(21), int64(5)
memory usage: 41.8 KB

In [19]:
scaler = MinMaxScaler()
df_NParray = scaler.fit_transform(df)
df_scaled = pd.DataFrame(df_NParray, columns=df.columns)
df_scaled.describe()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,...,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.566829,0.585366,0.580720,0.902439,0.180488,0.712195,0.653659,0.663415,0.014634,0.354419,...,0.248707,0.464808,0.482542,0.543089,0.196409,0.537743,0.504560,0.339431,0.388190,0.519617
std,0.249061,0.337205,0.298801,0.297446,0.385535,0.257434,0.214770,0.278085,0.120377,0.175562,...,0.157142,0.287601,0.272859,0.247191,0.248253,0.314796,0.231250,0.181726,0.181222,0.293952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,0.294118,0.380952,1.000000,0.000000,0.500000,0.500000,0.500000,0.000000,0.230321,...,0.135849,0.142857,0.289474,0.361111,0.100000,0.203390,0.347826,0.166667,0.236842,0.268817
50%,0.600000,0.549020,0.571429,1.000000,0.000000,0.500000,0.750000,0.500000,0.000000,0.303207,...,0.222642,0.714286,0.421053,0.583333,0.125000,0.677966,0.521739,0.305556,0.368421,0.532258
75%,0.800000,0.941176,0.904762,1.000000,0.000000,1.000000,0.750000,1.000000,0.000000,0.460641,...,0.301887,0.714286,0.736842,0.694444,0.150000,0.796610,0.695652,0.472222,0.473684,0.774194
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
train_set, test_set = train_test_split(df_scaled, test_size=0.2, random_state=42)

In [22]:
y_train = train_set['price']
X_train = train_set.drop(['price'], axis=1) 
y_test = test_set['price']
X_test = test_set.drop(['pricey_train = train_set['yearly_wage']

In [30]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor(max_depth=30)
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=30)

In [31]:
y_predicted = tree_reg.predict(X_test)

In [32]:
from sklearn.metrics import r2_score
r2_score(y_test, y_predicted)

0.0386174996198031

In [7]:
def preprocess_encoding(df: pd.DataFrame):
    "This function converts categorical features into numeric features"
    ordinal_encoder = OrdinalEncoder()
    features = [
            'normalized-losses',  'make', 'fuel-type', 'aspiration', 
            'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
            'engine-type' , 'num-of-cylinders', 'fuel-system', 'bore', 'stroke',
             'horsepower', 'peak-rpm', 'price'     
           ] 
    df[features]= ordinal_encoder.fit_transform(df[features])
    return df

In [8]:
df_encoded2 = preprocess_encoding(catalog.load('automobile'))

[10/28/22 14:16:50] INFO     Loading data from 'automobile' (CSVDataSet)...                     ]8;id=123887;file:///Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=136988;file:///Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

In [16]:
df_encoded2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,51.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,88.6,...,130,5.0,23.0,4.0,9.0,5.0,10.0,21,27,31.0
1,3,51.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,88.6,...,130,5.0,23.0,4.0,9.0,5.0,10.0,21,27,50.0
2,1,51.0,0.0,1.0,0.0,2.0,2.0,2.0,0.0,94.5,...,152,5.0,1.0,27.0,9.0,20.0,10.0,19,26,50.0
3,2,27.0,1.0,1.0,0.0,1.0,3.0,1.0,0.0,99.8,...,109,5.0,13.0,24.0,10.0,2.0,16.0,24,30,36.0
4,2,27.0,1.0,1.0,0.0,1.0,3.0,0.0,0.0,99.4,...,136,5.0,13.0,24.0,8.0,8.0,16.0,18,22,61.0

In [17]:
def preprocess_scaling(df: pd.DataFrame):
    "This function scales all numerical values in a range between 0-1"
    scaler = MinMaxScaler()
    df_NParray = scaler.fit_transform(df)
    df_scaled = pd.DataFrame(df_NParray, columns=df.columns)
    return df_scaled

In [18]:
df_scaled2 = preprocess_scaling(df_encoded2)
df_scaled2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,1.0,1.000000,0.000000,1.0,0.0,1.0,0.00,1.0,0.0,0.058309,...,0.260377,0.714286,0.605263,0.111111,0.1250,0.084746,0.434783,0.222222,0.289474,0.166667
1,1.0,1.000000,0.000000,1.0,0.0,1.0,0.00,1.0,0.0,0.058309,...,0.260377,0.714286,0.605263,0.111111,0.1250,0.084746,0.434783,0.222222,0.289474,0.268817
2,0.6,1.000000,0.000000,1.0,0.0,1.0,0.50,1.0,0.0,0.230321,...,0.343396,0.714286,0.026316,0.750000,0.1250,0.338983,0.434783,0.166667,0.263158,0.268817
3,0.8,0.529412,0.047619,1.0,0.0,0.5,0.75,0.5,0.0,0.384840,...,0.181132,0.714286,0.342105,0.666667,0.1875,0.033898,0.695652,0.305556,0.368421,0.193548
4,0.8,0.529412,0.047619,1.0,0.0,0.5,0.75,0.0,0.0,0.373178,...,0.283019,0.714286,0.342105,0.666667,0.0625,0.135593,0.695652,0.138889,0.157895,0.327957